[Unit]
Description=Consul Server
Documentation=https://www.consul.io/docs/index.html
After=network.target docker.socket firewalld.service docker.service
# Requires=docker.socket

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
# EnvironmentFile=-/etc/default/docker
ExecStart=/usr/bin/docker run -d --rm \
        -v /srv/consul:/consul/data \
        -v /etc/consul.d:/consul/config \
                          -p 8300:8300 \
                          -p 8301:8301/tcp \
                          -p 8301:8301/udp \
                          -p 8302:8302/tcp \
                          -p 8302:8302/udp \
                          -p 8400:8400 \
                          -p 8500:8500 \
                          -p 8600:8600 \
   --name consul \
consul agent -server -ui -node=gcorp-actual \
  -recursor "8.8.8.8" \
  -retry-join "34.213.189.167"
ExecReload=/usr/bin/docker restart consul
ExecStop=/usr/bin/docker stop consul
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
# LimitNPROC=infinity
# LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
# TasksMax=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
# Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process

[Install]
WantedBy=multi-user.target
